<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Meeteer | {{title}}</title>

    <!-- Adding in bookstrap v4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- Custom over-riding css -->
    <link rel='stylesheet' href='/css/global.css' />

    {{#each css}}
        <link rel="stylesheet" href="/css/{{this}}" />
    {{/each}}

</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Meeter</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav msr-auto">

                <!-- About -->
                <li class="nav-item{{#if active.about}} active{{/if}}"><a class="nav-link" href="/about/">About</a></li>

                <!-- Chat -->
                <li class="nav-item{{#if active.chat}} active{{/if}}"><a class="nav-link" href="/chat/">Chat</a></li>

                <!-- Universities -->
                <li class="nav-item{{#if active.universities}} active{{/if}}"><a class="nav-link" href="/universities/">Universities</a></li>

                <!-- Help -->
                <li class="nav-item{{#if active.help}} active{{/if}}"><a class="nav-link" href="/help/">Help</a></li>

                {{#if user}}
                    <!-- Dashboard -->
                    <li class="nav-item{{#if active.dashboard}} active{{/if}}"><a class="nav-link" href="/dashboard/">Dashboard</a></li>

                    <!-- Schedule -->
                    <li class="nav-item{{#if active.schedule}} active{{/if}}"><a class="nav-link" href="/schedule/">Schedule</a></li>

                    <!-- Search -->
                    <li class="nav-item{{#if active.search}} active{{/if}}"><a class="nav-link" href="/search/">Search</a></li>
                {{else}}
                    <!-- Pricing -->
                    <li class="nav-item{{#if active.pricing}} active{{/if}}"><a class="nav-link" href="/pricing/">Pricing</a></li>

                    <!-- User login/registration -->
                    <li class="nav-item{{#if active.login}} active{{/if}}"><a class="nav-link" href="/login/">Login</a></li>
                    <li class="nav-item{{#if active.register}} active{{/if}}"><a class="nav-link" href="/register/">Register</a></li>
                {{/if}}
            </ul>
        </div>
    </nav>

    <!-- Any flash messages -->
    {{#each messages}}
        <div class="alert alert-{{this.alertType}} alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{this.message}}
        </div>
    {{/each}}


{{{body}}}

    <!-- jQuery & bootstrap JS added to the end for speed increase -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    {{#each js}}
        <script src="/js/{{this}}"></script>
    {{/each}}

</body>
</html>