<h1>Meeter | {{title}}</h1>

<!-- Content -->
<div class="row row-offcanvas row-offcanvas-right">


    <!-- Settings -->
    <div class="col-12 col-md-9">

        <!-- Settings nav toggler -->
        <p class="float-left hidden-md-up">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Toggle nav</button>
        </p>

        <!-- Settings content -->
        <div class="jumbotron">
            <h1>Hey there {{user.username}}!</h1>
            <p>This is your settings page, where you can edit your account details as you'd like.</p>
        </div>
        <div class="row">
            <form method="post" action="">
                <!-- Photo -->
                <div class="col-6 col-lg-4">
                    <label class="col-xs-2 col-form-label">Profile Photo:</label>
                    <img src="{{user.photo}}" class="rounded-circle img-thumbnail" height="100px" width="100px" alt="My profile picture">
                    <div class="custom-file col-xs-10">
                        <input class="custom-file-input" type="file" name="photo">
                        <span class="custom-file-control">Edit Photo</span>
                    </div>
                </div>

                <!-- Username -->
                <div class="col-6 col-lg-4">
                    <label class="col-xs-2 col-form-label">Username:</label>
                    <div class="col-xs-10">
                        <input class="form-control" type="text" placeholder="Username" name="username" value="{{user.username}}">
                    </div>
                </div>

                <!-- First Name -->
                <div class="col-6 col-lg-4">
                    <label class="col-xs-2 col-form-label">First Name:</label>
                    <div class="col-xs-10">
                        <input class="form-control" type="text" placeholder="First Name" name="firstName" value="{{user.firstName}}">
                    </div>
                </div>

                <!-- Last Name -->
                <div class="col-6 col-lg-4">
                    <label class="col-xs-2 col-form-label">Last Name:</label>
                    <div class="col-xs-10">
                        <input class="form-control" type="text" placeholder="Last Name" name="lastName" value="{{user.lastName}}">
                    </div>
                </div>

                <!-- Email -->
                <div class="col-6 col-lg-4">
                    <label class="col-xs-2 col-form-label">Email:</label>
                    <div class="col-xs-10">
                        <input class="form-control" type="email" placeholder="Email" name="email" value="{{user.email}}">
                    </div>
                </div>

                <!-- Password -->
                <div class="col-6 col-lg-4">
                    <a href="/reset">Change Password</a>
                </div>

                <!-- Ambassador Check -->
                <div class="col-6 col-lg-4 form-check">
                    <label class="form-check-label">
                        Would you like to be a university ambassador?
                        {{#if user.ambassadorID}}
                            <input type="checkbox" class="form-check-input" name="isAmbassador">
                        {{else}}
                            <input type="checkbox" class="form-check-input" name="isAmbassador" checked="checked">
                        {{/if}}
                    </label>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <!-- Bio -->
            <div class="form-group row">
                <label class="col-xs-2 col-form-label">Bio:</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" placeholder="Bio" name="bio" value="{{user.bio}}">
                </div>
            </div>

            <!-- Location -->
            <div class="form-group row">
                <label class="col-xs-2 col-form-label">Location:</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" placeholder="Location" name="location" value="{{user.location}}">
                </div>
            </div>

            <!-- Language Preference -->
            <div class="form-group row">
                <label class="col-xs-2 col-form-label">Language Preference:</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" placeholder="Language Preference" name="languagePreference" value="{{user.languagePreference}}">
                </div>
            </div>
        </div><!--/row-->
    </div><!-- end settings-->

    <!-- Sidebar -->
    <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
        <div class="list-group">
            <a href="/settings/profile" class="list-group-item active">Profile</a>
            <a href="/settings/balance" class="list-group-item">Banks & cards</a>
            <a href="/settings/notifications" class="list-group-item">Notifications</a>
            <a href="/settings/privacy" class="list-group-item">Privacy</a>
            <a href="/settings/security" class="list-group-item">Security</a>
        </div>
    </div>
</div>
